[submodule "PPD/lab4/Simple-Web-Server"]
	path = PPD/lab4/Simple-Web-Server
	url = git@github.com:eidheim/Simple-Web-Server.git
[submodule "VVSS"]
	path = VVSS
	url = git@github.com:nikitautiu/VVSS.git
