<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>

  </startup>

  <connectionStrings>
    <add name="conStr" connectionString="Data Source=DESKTOP-MR3II8A\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ParentSelectCmd" value="SELECT * FROM Artist"/>
    <add key="idParent" value="ArtistId"/>
    <add key="ChildSelectCmd" value="SELECT * FROM Album"/>
    <add key="ChildInsertCmd" value="INSERT INTO Album(AlbumId, Title, ArtistId) VALUES (@value1, @value2, @value3)"/>
    <add key="ChildUpdateCmd" value="UPDATE Album SET AlbumId=@value1, Title=@value2 WHERE AlbumId=@value3"/>
    <add key="ChildDeleteCmd" value="DELETE FROM Album WHERE AlbumId=@value"/>
<!--    <add key="ParentSelectCmd" value="SELECT * FROM Album"/>-->
<!--    <add key="idParent" value="AlbumId"/>-->
<!--    <add key="ChildSelectCmd" value="SELECT * FROM Track"/>-->
<!--    <add key="ChildInsertCmd" value="INSERT INTO Track(TrackId, Name, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice, AlbumId) VALUES (@value1, @value2, @value3, @value4, @value5, @value6, @value7, @value8, @value9)"/>-->
<!--    <add key="ChildUpdateCmd" value="UPDATE Track SET TrackId=@value1, Name=@value2, MediaTypeId=@value3, GenreId=@value4, Composer=@value5, Milliseconds=@value6, Bytes=@value7, UnitPrice=@value8 WHERE AlbumId=@value9"/>-->
<!--    <add key="ChildDeleteCmd" value="DELETE FROM Track WHERE TrackId=@value"/>-->
  </appSettings>

</configuration>
