<div class="page-container">
    <article id="main-article">
        <header class="article-title">
            <h2>{{ article.title }}</h2>
        </header>
        <p class="article-contents">{{ article.content }}</p>
    </article>
    <section class="comment-section">
        <article class="comment" ng-repeat="comment in article.comments">
            <h2 class="comment-author">{{ comment.author }}</h2>
            <p class="comment-content">{{ comment.content }}</p>
        </article>
    </section>
</div>