<div class="page-container">
    <form name="loginCtrl.loginForm" class="form-horizontal" ng-if="loginCtrl.model.loginName == null">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Username</label>
                <div class="col-md-4">
                    <input id="username" name="username" type="text" placeholder="" class="form-control input-md" ng-model="loginCtrl.login.username" required="zzz">
                    <div ng-show="loginCtrl.loginForm.username.$dirty && loginCtrl.loginForm.username.$invalid">Username is required</div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="" class="form-control input-md" ng-model="loginCtrl.login.password" required="">
                    <div ng-show="loginCtrl.loginForm.password.$dirty && loginCtrl.loginForm.password.$invalid">Password is required</div>

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="loginBtn"></label>
                <div class="col-md-4">
                    <button id="loginBtn" name="loginBtn" class="btn btn-primary" ng-click="loginCtrl.submitLogin()">Login</button>
                </div>
            </div>
            <div ng-show="loginCtrl.loginForm.$error.usernameOrPassword">Bad username or password</div>

        </fieldset>
    </form>


    <div ng-if="loginCtrl.model.loginName != null">
        Logged in as {{loginCtrl.model.loginName}}. <a href="#" ng-click="loginCtrl.submitLogout()">Logout?</a>
    </div>
</div>