amqp==2.2.2
billiard==3.5.0.3
celery==4.0.2
certifi==2017.11.5
chardet==3.0.4
contextlib2==0.5.5
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.5.0
Django==1.11.28
django-debug-toolbar==1.9.1
django-rest-swagger==2.1.2
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
djangorestframework-last-modified==0.1.0
drf-extensions==0.3.1
gunicorn==19.7.1
idna==2.6
itypes==1.1.0
Jinja2==2.10
kombu==4.1.0
MarkupSafe==1.0
oauthlib==2.0.6
openapi-codec==1.3.2
presslabs-sugar==1.1.0
PyJWT==1.5.3
python3-openid==3.1.0
pytz==2017.3
raven==6.0.0
redis==2.10.5
requests==2.13.0
requests-oauthlib==0.8.0
simplejson==3.12.0
six==1.11.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
sqlparse==0.2.4
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
