<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Hangman</servlet-name>
        <servlet-class>Hangman.Hangman</servlet-class>
        <init-param>
            <param-name>DataBaseURL</param-name>
            <param-value>jdbc:sqlite:/mnt/data/Documents/Facultate/sem4/PW/lab_java/tema1/hangman.db</param-value>
        </init-param>
        <init-param>
            <param-name>DataBaseDriver</param-name>
            <param-value>org.sqlite.JDBC</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hangman</servlet-name>
        <url-pattern>/hangman</url-pattern>
    </servlet-mapping>
</web-app>